@using Zamarron.Connect_Four_2



<div class="space">
    @if(Piece.HasValue){
        <div class=" piece-@Piece.Value.ToString().ToLower() ">

        </div>
    }
</div>

@code {

    [Parameter]
    public PieceEnum? Piece {get; set;}



}

